/* *{
	padding: 0;
	margin:0;
} */
/* #header{
	display: none;
} */
/* #download{
	padding-top: 44px;
}
#download .contentbox{
	padding-bottom: 20px;
	background: url(./photo/pic1.jpg) no-repeat;
	background-size: 100%;
} */